# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pklz
*.m
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Derivatives
*/nilearn_cache/
docker_build.txt
data/ds000030
.idea/
results/
data
notebooks
resources/rois/aal
resources/rois/yeo2011_2
resources/rois/yeo_2011
